.carrossel {
    position: relative;
    max-width: 600px;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 0 6px rgba(199, 198, 199);
}


.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-height: 100%;
    display: none;
}

.slide.ativo {
    display: block;
}

.carrossel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    border: none;
    font-size: 24px;
    padding: 20px;
    cursor: pointer;
    z-index: 10;
}

.carrossel-btn:hover {
    background-color: #313131;
}

.carrossel-btn:first-of-type {
    left: 0;
}

.carrossel-btn:last-of-type {
    right: 0;
}